node_modules/
public
.idea
.vscode
lerna-debug.log
package.json.lerna_backup
dist
!.github/actions/**/dist
.DS_Store
public/*
.jshintrc
assets.json
applications/**/config.json
platform.code-workspace
repos
yarn-error.log
asp-logs*
*.asp-backup